{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
  <header class="intro-header" style="background-image: url('{{ asset(post.imagePath) }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{ post.subtitle }}</h2>
            <span class="meta">Posted on the {{ post.createdAt|date('jS F, Y') }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  {{ post.content|raw }}
{% endblock %}
